 .grid-container{
            display:grid;
         grid-template-areas: 
           'header header header' 
           'menu main right'
        'footer footer footer' ;
        grid-gap:10px
        }


        .header{
            grid-area: header;
        }

        .menu{
            grid-area: menu;
        }
        .main{
            grid-area: main;

        }
          

        .right{
            grid-area: right;
        }


        .footer{
            grid-area:  footer;
        }

        .grid-container > div{
            background-color: darkred;
            color:black;
            text-align: center;
            padding: 20px;
            font-style: 30px;

            
        }


        @media (max-width:768px){
            .grid-container{
                grid-template-areas:
                'header' 
                'main'
                'menu'
               'right'
               'footer' ;
            }
        }